# Dependency directories
node_modules/
jspm_packages/
web_modules/

# Local binaries and wrappers
apache-maven-*/
maven.zip
.mvn/
target/

# Log files and system files
.system_generated/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS metadata
.DS_Store
Thumbs.db

